In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd2

In [2]:
header_list = ['DateTime', 'Voltage', 'ValueCurrent']
df1 = pd2.read_csv('Solar data 25-06-2022 to 12-09-2022.csv', names = header_list)
df1

                  DateTime  Voltage  ValueCurrent
0      2022-06-24 23:31:26  0.26855           0.0
1      2022-06-25 00:31:26  0.26855           0.0
2      2022-06-25 01:31:26  0.26855           0.0
3      2022-06-25 01:32:26  0.26855           0.0
4      2022-06-25 01:33:26  0.31738           0.0
...                    ...      ...           ...
81355  2022-09-12 23:57:06  0.17090           0.0
81356  2022-09-12 23:58:06  0.17090           0.0
81357  2022-09-12 23:59:06  0.17090           0.0
81358  2022-09-17 00:59:06  0.17090           0.0
81359  2022-09-17 01:59:06  0.17090           0.0

[81360 rows x 3 columns]

In [3]:
credentials = service_account.Credentials.from_service_account_file('solardata-key.json')
project_id = 'solardata-360222'
df_sql = f"""SELECT
DateTime,
Voltage,
ValueCurrent
FROM `solardata-360222.SolarSensorsData.SensorsData`
ORDER BY DateTime
"""
df2 = pd1.read_gbq(df_sql, project_id=project_id, dialect='standard', credentials=credentials)

Downloading: 100%|██████████████████████████████████████████████████████████| 21602/21602 [00:01<00:00, 17414.63rows/s]

In [19]:
df = pd2.concat([df1, df2], axis=0, join="inner", ignore_index=True)
df.to_csv('D:/solar energy monitoring and prediction system/solar power and weather data/sensors_data.csv', index = False)
df

                   DateTime  Voltage  ValueCurrent
0       2022-06-24 23:31:26  0.26855           0.0
1       2022-06-25 00:31:26  0.26855           0.0
2       2022-06-25 01:31:26  0.26855           0.0
3       2022-06-25 01:32:26  0.26855           0.0
4       2022-06-25 01:33:26  0.31738           0.0
...                     ...      ...           ...
102957  2022-10-10 23:55:40  0.43945           0.0
102958  2022-10-10 23:56:40  0.34180           0.0
102959  2022-10-10 23:57:40  0.41504           0.0
102960  2022-10-10 23:58:41  0.34180           0.0
102961  2022-10-10 23:59:41  0.34180           0.0

[102962 rows x 3 columns]

In [20]:
df3 = pd2.read_csv('D:/solar energy monitoring and prediction system/solar power and weather data/sensors_data.csv')
df3

                   DateTime  Voltage  ValueCurrent
0       2022-06-24 23:31:26  0.26855           0.0
1       2022-06-25 00:31:26  0.26855           0.0
2       2022-06-25 01:31:26  0.26855           0.0
3       2022-06-25 01:32:26  0.26855           0.0
4       2022-06-25 01:33:26  0.31738           0.0
...                     ...      ...           ...
102957  2022-10-10 23:55:40  0.43945           0.0
102958  2022-10-10 23:56:40  0.34180           0.0
102959  2022-10-10 23:57:40  0.41504           0.0
102960  2022-10-10 23:58:41  0.34180           0.0
102961  2022-10-10 23:59:41  0.34180           0.0

[102962 rows x 3 columns]

In [16]:
df4 = df3[(df3['DateTime'] >= '2022-09-23 17:29:48') & (df3['DateTime'] <= '2022-09-23 18:27:57')][['DateTime', 'Voltage', 'ValueCurrent']]
df4

                  DateTime  Voltage  ValueCurrent
87706  2022-09-23 17:29:48  4.07715       0.77124
87707  2022-09-23 17:30:49  4.19922       0.81006
87708  2022-09-23 17:31:49  4.12598       0.78813
87709  2022-09-23 17:32:49  3.95508       0.74564
87710  2022-09-23 17:33:49  3.97949       0.75448
87711  2022-09-23 17:34:49  4.02832       0.76388
87712  2022-09-23 17:35:49  4.02832       0.76144
87713  2022-09-23 17:36:50  4.05273       0.76729
87714  2022-09-23 17:37:50  3.95508       0.74932
87715  2022-09-23 17:38:50  3.85742       0.71638
87716  2022-09-23 17:39:50  3.14941       0.55255
87717  2022-09-23 17:40:50  3.68652       0.68097
87718  2022-09-23 17:41:50  3.68652       0.67614
87719  2022-09-23 17:42:50  3.73535       0.69204
87720  2022-09-23 17:43:51  3.71094       0.68184
87721  2022-09-23 17:44:51  3.63770       0.66711
87722  2022-09-23 17:45:51  3.49121       0.63077
87723  2022-09-23 17:46:51  3.39355       0.61179
87724  2022-09-23 17:47:51  3.32031       0.59972
87725  2022-09-23 17:48:51  3.22266       0.57647
87726  2022-09-23 17:49:52  3.17383       0.56195
87727  2022-09-23 17:50:52  3.24707       0.58376
87728  2022-09-23 17:51:52  3.24707       0.57424
87729  2022-09-23 17:52:52  3.10059       0.54027
87730  2022-09-23 17:53:52  3.10059       0.53706
87731  2022-09-23 17:54:52  3.05176       0.53668
87732  2022-09-23 17:55:52  2.95410       0.50139
87733  2022-09-23 17:56:53  2.83203       0.47399
87734  2022-09-23 17:57:53  2.90527       0.48986
87735  2022-09-23 17:58:53  2.95410       0.50016
87736  2022-09-23 17:59:53  2.95410       0.50136
87737  2022-09-23 18:00:53  2.92969       0.49596
87738  2022-09-23 18:01:53  2.85645       0.47960
87739  2022-09-23 18:02:54  2.80762       0.46568
87740  2022-09-23 18:03:54  2.73438       0.44487
87741  2022-09-23 18:04:54  2.66113       0.42562
87742  2022-09-23 18:05:54  2.61230       0.40540
87743  2022-09-23 18:06:54  2.51465       0.38067
87744  2022-09-23 18:07:54  2.39258       0.34787
87745  2022-09-23 18:08:54  2.34375       0.33734
87746  2022-09-23 18:09:55  2.29492       0.33066
87747  2022-09-23 18:10:55  2.29492       0.32548
87748  2022-09-23 18:11:55  2.19727       0.29596
87749  2022-09-23 18:12:55  2.17285       0.29497
87750  2022-09-23 18:13:55  2.17285       0.29119
87751  2022-09-23 18:14:55  2.02637       0.25272
87752  2022-09-23 18:15:55  1.95312       0.23107
87753  2022-09-23 18:16:56  2.00195       0.24400
87754  2022-09-23 18:17:56  1.92871       0.21642
87755  2022-09-23 18:18:56  1.80664       0.18132
87756  2022-09-23 18:19:56  1.80664       0.18233
87757  2022-09-23 18:20:56  1.78223       0.17500
87758  2022-09-23 18:21:56  1.75781       0.16560
87759  2022-09-23 18:22:57  1.75781       0.16086
87760  2022-09-23 18:23:57  1.70898       0.14783
87761  2022-09-23 18:24:57  1.63574       0.13102
87762  2022-09-23 18:25:57  1.58691       0.11710
87763  2022-09-23 18:26:57  1.56250       0.10221
87764  2022-09-23 18:27:57  1.44043       0.07786